{
  "name": "<%= package_name %>",
  "authors": [
  ],
  "description": "",
  "main": "",
  "license": "",
  "homepage": "",
  "private": true,
  "ignore": [
    "**/.*",
    "node_modules",
    "bower_components",
    "test",
    "tests"
  ],
  "dependencies": {
    "reveal.js": "^3.5.0",
    "highlight-js": "^9.12.0"
  }
}
